
.type1 {
    background-color: rgb(7, 138, 7);
    color: rgb(121, 172, 108);
    margin-left: 30px;
   
  
    
  }
  
  .type2 {
    background-color: red;
    color: rgb(192, 25, 25);
  }
  .type3 {
    background-color: rgb(73, 96, 23);
    color: rgb(124, 0, 0);
  }