
<form>
  <label>Enter title: </label>
    <input type="text" class="inputvalue" [(ngModel)]="searchTitle" name="title">
    <button type="button" class="button" (click)="mysearch()">Search</button>
</form>

 
  <div *ngIf="message" [ngClass]="{'success': exist, 'error': !exist}">
    {{message}}
  </div><br> <br><br>   
  <h3>India's Games</h3>
  <div class="content-list-container">
   

      <app-content-card  *ngFor="let item of content | contentPipe:'india'"   [item]="item"  first as isFirst [class.isFirst]="true"></app-content-card> 
    </div>
  <h3>Canada's Games</h3>
    <div class="content-list-container">
      <app-content-card *ngFor="let item of content | contentPipe:'canada'" [item]="item" ></app-content-card>
    </div>
    <h3>No classification</h3>
    <div class="content-list-container">
      <app-content-card *ngFor="let item of content | contentPipe:''" [item]="item" ></app-content-card>
    </div>